<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <div class="text-center">
        <h2>{{dojo.location}} Ninjas</h2>
        <table class="table text-center">
            <thead>
                <tr class="fst-italic">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                {% for ninja in dojo.ninjas %}
                <tr>
                    <td>{{ ninja.first }}</td>
                    <td>{{ ninja.last }}</td>
                    <td>{{ ninja.age }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="/" class="text-center">Home</a>

</body>
</html>